<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Add Form Product </title>
</head>

<body>
	<h1> Form Profile </h1>
	<form th:action="@{/product/save}" method="post" th:object="$product}">
		<input type="hidden" th:field="*{id}">
		<table border="2">
			<tr>
				<td>Category</td>
				<td><select th:field="*{categoryId}">
						<option th:each="item:${ listCategory }" th:text="${ item.categoryName}" th:value="${item.id}">
						</option>
					</select></td>
			</tr>

			<head>
				<title> Variants API Pages </title>
			</head>
			<tr>
				<td>Initial</td>
				<td><input type="text" name="productinitial" th:field="*{productInitial}"></td>
			</tr>
			<tr>
				<td> Name</td>
				<td><input type="text" name="productname" th:field="*{productName}"></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><input type="text" name="productDescription" th:field="*{productDescription}"></td>
			</tr>
			<tr>
				<td>Price</td>
				<td><input type="text" name="productPrice" th:field="*{productPrice}"></td>
			</tr>
			<tr>
				<td>Stock</td>
				<td><input type="text" name="productStock" th:field="*{productStock}"></td>
			</tr>
			<tr>
				<td>Active</td>
				<td><input type="checkbox" name="isactive" th:field="*{isActive}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Create"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Cancel"></td>
			</tr>
		</table>
	</form>
</body>

</html>