<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<title> Product Page </title>
</head>

<body>
	<h1> Product List </h1>
	<button onclick="window.location.href='/product/addform'">Tambah Data</button>
	<br>
	<br>
	<table border="2">
		<thead>
			<tr>
				<th> Category </th>
				<th> Variant </th>
				<th> Initial </th>
				<th> Name </th>
				<th> Description </th>
				<th> Price </th>
				<th> Stock </th>
				<th> Active </th>
				<th colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${ listProduct }">
				<td th:text="${ item.category.categoryName }"> </td>
				<td th:text="${ item.variants.variantsNama }"> </td>
				<td th:text="${ item.productInitial }"> </td>
				<td th:text="${ item.productName}"> </td>
				<td th:text="${ item.productDescription}"> </td>
				<td th:text="${ item.productPrice}"> </td>
				<td th:text="${ item.productStock}"> </td>
				<td><input type="checkbox" disabled name="isactive" th:checked="${ item.isActive}"></td>
				<td><a th:href="@{/product/edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{/product/delete/{id}(id=${item.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>