<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Add Form Variants </title>
</head>

<body>
	<h1> Form Profile </h1>
	<form th:action="@{/variants/save}" method="post" th:object="${variants}">
		<input type="hidden" th:field="*{id}">
		<table border="2">
			<tr>
				<td>Category</td>
				<td><select th:field="*{categoryId}">
						<option th:each="item:${ listCategory }" th:text="${ item.categoryName}" th:value="${item.id}">
						</option>
					</select></td>
			</tr>
				<td>Initial</td>
				<td><input type="text" name="variantsinitial" th:field="*{variantsInitial}"></td>
			</tr>
			<tr>
				<td>Variants Name</td>
				<td><input type="text" name="variantsname" th:field="*{variantsNama}"></td>
			</tr>
			<tr>
				<td>Active</td>
				<td><input type="checkbox" name="isactive" th:field="*{isActive}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
</body>

</html>