<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<title> Variants Page </title>
</head>

<body>
	<h1> Variant List </h1>
	<button onclick="window.location.href='/variants/addform'">Tambah Data</button>
	<br>
	<br>
	<table border="2">
		<thead>
			<tr>
				<th> Category </th>
				<th> Initial </th>
				<th> Name </th>
				<th> Active </th>
				<th colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${ listVariants }">
				<td th:text="${ item.category.categoryName }"> </td>
				<td th:text="${ item.variantsInitial }"> </td>
				<td th:text="${ item.variantsNama}"> </td>
				<td><input type="checkbox" disabled name="isactive" th:checked="${ item.isActive}"></td>
				<td><a th:href="@{/variants/edit/{id}(id=${item.id})}">Edit</a></td>
				<td><a th:href="@{/variants/delete/{id}(id=${item.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>

</html>